---
- name: Configure network ranges for docker hosts
  docker_network:
    name: "{{ network.name }}"
    driver_options:
      # Have to be 15 symbols or less
      com.docker.network.bridge.name: "{{ network.bridge_name }}"
    ipam_config:
      - subnet: '{{ network.subnet }}'
        gateway: '{{ network.gateway }}'
        iprange: '{{ network.iprange }}'
