#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if  docker_log_driver == "syslog" %}
{{ docker_daemon_syslog | to_nice_json(indent=2) }}
{% elif  docker_log_driver == "json-file" %}
{{ docker_daemon_json | to_nice_json(indent=2) }}
{% endif %}
